@font-face {
  font-family: 'UTM Avo';
  font-style: normal;
  font-weight: normal;
  src: url(./font/utm-avo.woff);
}

@font-face {
  font-family: 'UTM Avobold';
  font-style: normal;
  font-weight: normal;
  src: url(./font/utm-avobold.woff);
}
