*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 11.25%;
    padding-right: 11.25%;
}

.img-css{
  width: 100%;
}

/*Header*/
header{
  width: 100%;
}
.header-top{
  display: flex;
  margin-top: -8px;
  justify-content: space-between;
  height: 103px;
  border-bottom: 1px solid #e9e9e9;
}

.header-top div{
  display: flex;
  align-items: center;
}

.item-logo ul{
  padding-top: 11px;
  line-height: 27px;
}

.item-logo li{
  padding-left: 18px;
  list-style-type: none;
}

.phone-number-item{
  text-decoration: none;
  color: #4cc1fc;
  font-size: 16pt;
}

.phone-info span{
  padding-left: 7px;
}

/* Nav-menu */
.header-menu{
  display: flex;
  justify-content: space-between;
  height: 61px;
}

.nav-menu ul{
  display: flex;
  list-style-type: none;
}

.nav-menu li{
  height: 100%;
  padding: 24px 18.5px 20px 27px;
  border-right:1px solid #e9e9e9 ;
}

.nav-menu li:last-child{
  border-right: none;
  padding-right: 0px;
}

.nav-menu a{
  display: flex;
  text-decoration: none;
  text-align: center;
  color: #a0a0a0;
  font-size: 13px;
}

.nav-menu li:hover a{
  color: #62c6f8;
}

.nav-menu li:active a{
  color: #62c6f8;
}

.item-fagoyo{
  padding-top: 16px;
}

/* main-top */
/* .main-top{
}

.img-banner{
} */

/* main-container */
.main-container{
  margin-top: 69px;
  display: flex;
  width: 77.5%;
  justify-content: space-between;

}

.info-book{
  display: flex;
  flex-direction: column;
  width: 23.79%;
  color: #29353c;
}

.info-book h4{
  background-color:#d9e4e9;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.info-book ul{
  padding-left: 35px;
  padding-top: 7px;
}

.info-book li{
  padding-top: 12px;
}

.book-title{
  font-size: 16pt;
  font-weight: 600;
  padding-bottom: 18px;
}
.book-title::after{
  display: block;
  content: '';
  border-bottom: 1px solid #62c6f8;
  width: 68px;
  height: 2px;
  padding-top: 1.3125rem;
}
.book-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-chedule{
  background-color: #d9e4e9;
  padding: 1.6875rem 1.1875rem 1.125rem 1.1875rem;
  margin-top: 20%;
}
.input-info{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 2.375rem;
  margin-bottom: 16px;
  padding-left: 12px;
  box-sizing: border-box;
  border: 0px solid;
}
.submit-info{
  font-family: 'UTM Avo';
  color: #ffffff;
  font-weight: 900;
  background-color: #4bbc56;
  width: 7.875rem;
  height: 2.375rem;
}
.main-content{
  display: flex;
  width: 74.6%;
}

.main-content ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
}

.main-content ul li{
  width: 31.733%;
  height: 324px;
  border: 1px solid #e9e9e9;
}

.main-content  .padding-top{
  margin-top: 24px;
}

.information{
  position: relative;
  padding: 24px;

}


.item-next{
  /* position: absolute; */
  float: right;
  padding-top: 30px;
}

/* footer */
footer{ 
  height: 260px; 
  clear: both; 
  position: relative; 
  background-color: #06cfef; 
  margin-top : 50px;
  color: white; 
}

.footer-top{ 
  display: flex;
  height: 200px;
  margin-top: 49px; 
  border-bottom: 1px solid #81d1f9;
}

.footer-top ul{ 
  margin-left: 20px; 
  line-height: 30px;
  padding-top: 20px;
}

.footer-social ul{
  margin-left: 0;
}

.footer-social li{ 
  list-style-type: none;
}

.footer-top li,h4{ 
  color: white;
}

.footer-top h4{ 
  padding-top: 50px;
} 

.footer-about-us{ 
  /* float: left;  */
  width: 33.33333%; 
  list-style-type: none;
}

.footer-support{ 
  /* float: left;  */
  width: 33.33333%;
}

.footer-social{ 
  list-style-type: none; 
  /* float: right;  */
  width: 33.33333%;
}

.footer-social-item{ 
  display: flex; 
  align-items: center;
}

.copyright{ 
  height: 56px;
  display: flex;
  justify-content: space-between;
  line-height: 56px;
  font-size: 13px;;
}

.ddcom{ 
  color: green;
} 

.copyright-item::before{ 
  content: '\0040';
}

.footer-social a{ 
  text-decoration: none; 
  color: white;
}