/* Header */
*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex ;
  justify-content:space-between;
  padding-left: 11.25%;
  padding-right: 11.25%;
}

.flex-header{
  height: 95px;
  display: flex;
  justify-content: space-between;
}

.phone-number{
  display: flex;
  align-items: center;
}

.header-logo{
  display: flex;
  align-items: center;
}

.header-logo ul{
  list-style-type: none;
}

.phone-number-item{
  color: #00bef7;
  font-size: 19px;
  text-decoration: none;
}

/* Main */
.menu-first{
  padding-top: 25px;
  border-top: 1px solid #dbd9dc;
  border-bottom: 1px solid #dbd9dc;
  height: 40px;
  display: flex;
  justify-content: space-between;
}


.nav-menu{
  display: flex;
  text-align: center;
  list-style-type: none;
}

.nav-menu a{
  padding-right: 20px;
  text-decoration: none;
  color: #989898;
}
.nav-menu a:hover{
  color:#09b8f1;
}

.item-img-menu img{
  padding-left: 10px;
}

/* Banner */
.main-banner{
  width: auto;
  display: flex;
  background-image: url(./img/banner.jpg);
  height: 160px;
}

.nav-menu{
  display: flex;
}
.main-banner ul{
  display: flex;
  list-style-type: none;
}

.main-banner li{
  padding-right: 10px;
  padding-top: 77px;
}

.main-banner a{
  text-decoration: none;
  color: black;
}
.container .menu-after{
  display: flex;
  width: 250px;
}

/* Content */
.container-content{
  justify-content: space-between;
  padding-top: 75px;
  display: flex;
}

.about-content{
  /* display: flex; */
  width: 76.08695652%;
}

.content-1,.content-2,.content-3{
  display: flex;
  list-style-type: none;
}

.about-content ul:nth-child(2){
  padding-top: 24px;
}

.about-content ul:nth-child(3){
  padding-top: 24px;
}

.about-content li{
  width: 295px;
  height: 322px;
}

.about-content h3{
  padding-top: 25px;
  padding-left: 23px;
  padding-right: 6px;
}

.about-content span{
  display: block;
  padding-left: 23px;
  padding-right: 6px;
}

.next{
  float: right;
  padding-right: 6px;
}

/* Aside */
.menu-vertical{
  width: 23.1%;
}

.adults{
  display: flex;
}

.adults h4{
  width: 127.5%;
  padding-top: 20px;
  padding-left: 16px;
  height: 31px;
  background-color:#d9e4e9;
}

.adults ul{
  width: 88.5%;
  line-height: 30px;
  padding-left: 35px;
}

.book-schedule{
  padding-left: 15px;
  margin-top: 45px;
  height: 315px;
  background-color: #d9e4e9;
  line-height: 50px;
}

.book-schedule h3{
  padding-top: 7px;
}

.input-book{
  width: 230px;
  height: 25px;
  border: 0px solid;
  padding-left: 15px;
}

.button-send{
  margin-left: 70px;
  background-color: #4bbc56;
  border: 0px solid;
  text-align: center;
  width: 90px;
  height: 30px;
  color: white;
}

/* Footer */
/*==Footer==*/
  