.book-content {
  @extend %flex;
  flex-direction: column;
  align-items: center;

  .input-info {
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    padding-left: 12px;
    box-sizing: border-box;
    border: 0px solid;
    
    &:first-child {
      margin-top: 5px;
    }
  }
}