@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(backgroup-about.jpeg);
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

label {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

.main--register {
  top: 5%;
  position: absolute;
  font-size: 4rem;
}

.stepper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18%;
  }
  
  .step--1,
  .step--2,
  .step--3,
  .step--4,
  .step--5 {
    margin: 25px;
    border-radius: 50px;
    width: 2.5rem;
    padding: 0.5rem 0;
    background: #fff0ff;
    color: #666;
    text-align: center;
  }
  .step--1,
  .step--2,
  .step--3,
  .step--4,
  .step--5 {
    border-right: 1px solid #666;
  }

  .form--name-item {
    width: 50%;
    list-style-type: none;
  }

  .form {
    padding: 30px;
    background: #fff;
    margin-top: 100px;
    position: absolute;
    width: 40%;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    display: none;
    border-radius: 1rem;
    overflow: hidden;
  }
  /* .form--header-container {
    background: linear-gradient(to right, rgb(51, 51, 51), #919191);
    color: #fff;
    height: 6rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
  } */

  .form--name-list {
    display: flex;
    
  }
  
  .form--header-title {
    font-size: 1.5rem;
    text-align: center;
  }

  #error {
    text-align: center;
    width: 76%;
    margin: 0 auto;
    color: #f00000;
    padding: 20px;
  }
  
  /* .form--header-text {
    padding: 0.5rem 0;  
  } */
  
  input {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #bdbdbb;
    font-size: 1.2rem;
  }

  input[type='password'] {
    font-size: 2.5rem;
    padding: 0;
  }

  .form--phone-number {
    display: flex;
    padding: 40px 0;
  }

  input[name='number-phone'] {
    text-align: center;
    width: 20%;
  }

  input[name='number-phone']:first-child:after {
    content: '\2212';
  }

  .form--code-number {
    display: flex;
    padding: 40px 0;
  }

  input[name='code-number'] {
    text-align: center;
    width: 8%;
    
  }
  
  .form__btn {
    float: right;
    background: #333;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    width: 7rem;
    margin: 1rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }
  .form--message-text {
    width: 25rem;
    background: #fff;
    color: #444;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
  }

  .form-active {
    z-index: 1000;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }
  
  .step-active {
    background: #666;
    color: #fff;
    border: 1px solid #666;
  }

  .js--form-information {
    border: 1px solid;
    padding: 15px;
    border-radius: 20px;
  }

  .showinfo {
    padding: 10px 50px;
  }

  @keyframes moveRight {
    0% {
      transform: translateX(-27rem) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(27rem) scale(0.9);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }