.main-container {
  @extend %flex-between;
  margin-top: 69px;
  width: 77.5%;

  .main-content {
    @extend %flex;
    width: 74.6%;

    .padding-top {
      margin-top: 22px;
    }

    &-list {
      @extend %flex-between;
      flex-wrap: wrap;
      width: 100%;
    }

    &-item {
      position: relative;
      width: 31.733%;
      border: 1px solid #e9e9e9;

      .information {
        padding: 19px 14px 19px 22px;
        font-size: 14px;

        span {
          line-height: 17px;
        }

        &-title {
          padding-bottom: 10px;
          text-transform: uppercase;
        }
      }

      .next {
        @extend %flex;
        justify-content: flex-end;
        height: 20px;
        
        &-link {
          padding-top: 5px;
        }
      }
    }
  }
}
